*~
*.db
*.bak
.DS_Store
*.idea
.vscode
*.sw?
*.rej
*.orig

/dist

/yarnc
/yarnd
/.envrc

/tools/tools
/tests/tests
/cmd/yarnc/yarnc
/cmd/yarnd/yarnd

/data/msgs
/data/cache
/data/logo.*
/data/blogscache
/data/msgscache
/data/feedsources
/data/settings.yaml

/data/feeds/*
/data/blogs/*
/data/media/*
/data/archive/*
/data/avatars/*
/data/external/*

/docs/_site/
/docs/_errors/
/docs/.jekyll-cache/

/internal/static/css/twtxt.min.css
/internal/static/js/twtxt.min.js

bench-twtxt.txt

.task/
/doc/
/release/
