{{ define "content" }}
  <article class="grid">
    <div>
      <hgroup>
        <h2>{{ tr . "FollowersTitle" }}</h2>
        <h3>
          {{ if $.User.Is .Profile.URL }}
            {{ tr . "FollowersFollowingYou" }}
          {{ else }}
            {{ (tr . "FollowersFollowingUser" (dict "Username" .Profile.Username)) | html }}
          {{ end }}
        </h3>
      </hgroup>
      {{ if .Profile.Followers }}
        <ol>
          {{ $ctx := . }}
          {{ range $Follower := .Profile.Followers }}
            <li>
              {{ if $.User.Is $Follower.URL }}
                <a href="{{ $Follower.URL }}">{{ tr $ctx "MeLinkTitle" }}</a>
              {{ else }}
                {{ if isLocalURL $Follower.URL }}
                  <a href="{{ $Follower.URL | trimSuffix "/twtxt.txt" }}">{{ $Follower.Nick }}</a>
                {{ else }}
                  <a href="/external?uri={{ $Follower.URL }}&nick={{ $Follower.Nick }}">{{ $Follower.Nick }}</a>
                {{ end }}
                (<a href="{{ $Follower.URL }}">{{ $Follower.URL }}</a>)
                {{ if $.Authenticated }}
                  <a class="followBtn" style="display: {{ if not ($.User.Follows $Follower.URL) }}inline{{ else }}none{{ end }};" href="/follow?nick={{ $Follower.Nick }}&url={{ $Follower.URL }}">
                    <i class="ti ti-circle-plus"></i>
                    {{ tr $ctx "FollowLinkTitle" }}
                  </a>
                  <a class="unfollowBtn" style="display: {{ if $.User.Follows $Follower.URL }}inline{{ else }}none{{ end }};" href="/unfollow?nick={{ $Follower.Nick }}">
                    <i class="ti ti-circle-minus"></i>
                    {{ tr $ctx "UnfollowLinkTitle" }}
                  </a>
                {{ end }}
              {{ end }}
            </li>
          {{ end }}
        </ol>
      {{ else }}
        <small>
          {{ if $.User.Is .Profile.URL }}
            {{ (tr . "FollowersNoFollowersSummary" (dict "InstanceName" .InstanceName)) | html }}
          {{ else }}
            <b>{{ .Profile.Username }}</b> {{ tr . "FollowersNoFollowers" }}
          {{ end }}
        </small>
      {{ end }}
    </div>
  </article>
{{ end }}
