{{ define "content" }}
  <article class="grid">
    <div>
      <hgroup>
        <h2>{{ tr . "FollowingTitle" }}</h2>
        <h3>
          {{ if $.User.Is .Profile.URL }}
            {{ tr . "FollowingFollowingYou" }}
          {{ else }}
            {{ (tr . "FollowingFollowingUser" (dict "Username" .Profile.Username)) | html }}
          {{ end }}
        </h3>
      </hgroup>
      {{ if .Profile.Following }}
        <ol>
          {{ $ctx:=. }}
          {{ range $Nick, $URL := .Profile.Following }}
            <li>
              {{ if isLocalURL $URL }}
                <a href="{{ $URL | trimSuffix "/twtxt.txt" }}">
              {{ else }}
                <a href="/external?uri={{ $URL }}&nick={{ $Nick  }}">
              {{ end }}
              {{ if $.User.Is $URL }}
                {{ tr $ctx "MeLinkTitle" }}
              {{ else }}
                {{ $Nick }}
              {{ end }}
                </a>
              {{ if $.Authenticated }}
                <a class="followBtn" style="display: {{ if not ($.User.Follows $URL) }}inline{{ else }}none{{ end }};" href="/follow?nick={{ $Nick  }}&url={{ $URL }}">
                  <i class="ti ti-circle-plus"></i>
                  {{ tr $ctx "FollowLinkTitle" }}
                </a>
                <a class="unfollowBtn" style="display: {{ if $.User.Follows $URL }}inline{{ else }}none{{ end }};" href="/unfollow?nick={{ $Nick  }}">
                  <i class="ti ti-circle-minus"></i>
                  {{ tr $ctx "UnfollowLinkTitle" }}
                </a>
              {{ end }}
            </li>
          {{ end }}
        </ol>
      {{ else }}
        <small>
          {{ if $.User.Is .Profile.URL }}
            {{ (tr . "FollowingNoFollowingSummary" (dict "InstanceName" .InstanceName)) | html }}
          {{ else }}
            <b>{{ .Profile.Username }}</b> {{ tr . "FollowingNoFollowing" }}
          {{ end }}
        </small>
      {{ end }}
    </div>
  </article>
{{ end }}
