{{ define "content" }}
  <article class="container-fluid">
    <hgroup>
      <h2>{{ .InstanceName }} {{ tr . "InfoTitle" }}</h2>
    </hgroup>
    <table>
      <tr><td>{{ tr . "InfoName" }}</td><td>{{ .InstanceName }}</td></tr>
      <tr><td>{{ tr . "InfoSoftware" }}</td><td>{{ .SoftwareVersion.Software }}</td></tr>
      <tr><td>{{ tr . "InfoFullVersion" }}</td><td>{{ .SoftwareVersion.FullVersion }}</td></tr>
      <tr><td>{{ tr . "InfoVersion" }}</td><td>{{ .SoftwareVersion.Version }}</td></tr>
      <tr><td>{{ tr . "InfoCommit" }}</td><td>{{ .SoftwareVersion.Commit }}</td></tr>
      <tr><td>{{ tr . "InfoAuthor" }}</td><td>{{ .SoftwareVersion.Author }}</td></tr>
      <tr><td>{{ tr . "InfoLicense" }}</td><td>{{ .SoftwareVersion.License }}</td></tr>
      <tr><td>{{ tr . "InfoCopyright" }}</td><td>{{ .SoftwareVersion.Copyright }}</td></tr>
    </table>
  </article>
{{ end }}
