{{ define "content" }}
  <article class="container-fluid">
    <hgroup>
      <h2>{{ tr . "PeerPodTitle" }}</h2>
    </hgroup>
    <table>
      <tr>
        <th>{{ tr . "PeerPodName" }}</th>
        <th>{{ tr . "PeerPodDescription" }}</th>
        <th>{{ tr . "PeerPodVersion" }}</th>
        <th><abbr title="{{ tr . "PeerPodLastSeenContent" }}">{{ tr . "PeerPodLastSeenTitle" }}<abbr></th>
        <th><abbr title="{{ tr . "PeerPodLastUpdatedContent" }}">{{ tr . "PeerPodLastUpdatedTitle" }}</abbr></th>
      </tr>
      {{ range $peer := $.Peers }}
        <tr>
          <td><a href="{{ $peer.URI }}">{{ $peer.Name }}</a></td>
          <td><small>{{ $peer.Description | abbrev 60 }}</small></td>
          <td><small>{{ $peer.SoftwareVersion }}</small></td>
          <td><small>{{ $peer.LastSeen | time }}</small></td>
          <td><small>{{ $peer.LastUpdated | time }}</small></td>
        </tr>
      {{ end }}
    </table>
  </article>
{{ end }}
