{{ define "content" }}
  <article class="container-fluid">
    <hgroup>
      <h2>Discovered Peering Pods</h2>
    </hgroup>
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Pod Version</th>
        <th><abbr title="When this pod received the last feed fetch request from the peering pod">Last Seen<abbr></th>
        <th><abbr title="When this pod fetched the peering pod's information the last time (once a day)">Last Updated</abbr></th>
      </tr>
      {{ range $k, $v := $.Peers }}
        <tr>
          <td><a href="{{ $k }}">{{ $v.Name }}</a></td>
          <td><small>{{ $v.Description | abbrev 60 }}</small></td>
          <td><small>{{ $v.SoftwareVersion }}</small></td>
          <td><small>{{ $v.LastSeen | time }}</small></td>
          <td><small>{{ $v.LastUpdated | time }}</small></td>
        </tr>
      {{ end }}
    </table>
  </article>
{{ end }}
