{{ define "content" }}
  <article class="grid bump-up">
    <div>
      <hgroup>
        <h2>Manage Pod<h2>
        <h3>Administer your Pod and update settings here</h3>
      </hgroup>
      <div class="manage-users">
        <a href="/manage/jobs"><i class="ti ti-heartbeat"></i> Manage Jobs</a><br /><br />
        <a href="/manage/peers"><i class="ti ti-affiliate"></i> Manage Peers</a><br /><br />
        <a href="/manage/users"><i class="ti ti-users"></i> Manage Users</a><br /><br />
        <a href="/manage/refreshcache" onclick="return confirm('Are you sure you want to delete and refresh ths cache?')"><i class="ti ti-rotate-clockwise-2"></i> Refresh Cache</a>
      </div>
      <form action="/manage/pod" enctype="multipart/form-data" method="POST">
        <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
        <label for="podName">
          Pod Name:
          <input id="podName" type="text" name="podName" placeholder="Pod Name" aria-label="podName" value="{{ .InstanceName }}">
        </label>
        <label for="podDescription">
          Pod Description:
          <input id="podDescription" type="text" name="podDescription" placeholder="Pod Description" aria-label="podDescription" value="{{ .Meta.Description }}">
        </label>
        <label for="logo">
          Change Logo:
          <textarea id="logo" name="podLogo" rows=10>{{ $.Logo }}</textarea>
        </label>
        <p>You can use the template variable <pre>{{"{{"}} .PodName {{"}}"}}</pre> in your logo</p>
        <div class="grid">
          <div>
            <label for="maxTwtLength">
              Max Twt Length:
              <input id="maxTwtLength" type="number" name="maxTwtLength" placeholder="Max Twt Length" aria-label="maxTwtLength" value="{{ .MaxTwtLength }}">
            </label>
          </div>
          <div>
            <label for="avatarResolution">
              Avatar Resolution
              <input id="avatarResolution" type="number" name="avatarResolution" placeholder="Avatar Resolution in pixels" aria-label="avatarResolution" value="{{ .AvatarResolution }}">
            </label>
          </div>
          <div>
            <label for="mediaResolution">
              Media Resolution
              <input id="mediaResolution" type="number" name="mediaResolution" placeholder="Media Resolution in pixels" aria-label="mediaResolution" value="{{ .MediaResolution }}">
            </label>
          </div>
        </div>
        <div class="grid">
          <div>
            <legend>Other settings:</legend>
            <label for="enableOpenRegistrations">
              <input id="enableOpenRegistrations" type="checkbox" name="enableOpenRegistrations" aria-label="Allow open registrations" role="switch" {{ if not .RegisterDisabled }}checked{{ end }} />
              Allow open registrations
            </label>
            <label for="enableOpenProfiles">
              <input id="enableOpenProfiles" type="checkbox" name="enableOpenProfiles" aria-label="Allow open profiles" role="switch" {{ if .OpenProfiles }}checked{{ end }} />
              Allow open profiles
            </label>
          </div>
        </div>
        <label for="whitelistedImages">
          Whitelisted Image Domains:
          <textarea id="whitelistedImages" name="whitelistedImages" rows=5>{{ $.WhitelistedImages | join "\r\n" }}</textarea>
        </label>
        <label for="blacklistedFeeds">
          Blacklisted Feeds:
          <textarea id="blacklistedFeeds" name="blacklistedFeeds" rows=5>{{ $.BlacklistedFeeds | join "\r\n" }}</textarea>
        </label>
        <label for="enabledFeatures">
          Enabled Optional Features
          <textarea id="enabledFeatures" name="enabledFeatures" rows=3>{{ $.EnabledFeatures | join "\r\n" }}</textarea>
        </label>
        <div class="grid">
          <label for="displayDatesInTimezone">
            {{tr . "SettingsFormTimezoneTitle"}}
            <select id="displayDatesInTimezone" name="displayDatesInTimezone">
              {{ range .Timezones }}
              <option value="{{ .TzName }}" {{ if eq $.DisplayDatesInTimezone .TzName }}selected{{ end }}>{{ .NameWithOffset }}</option>
              {{ end }}
            </select>
          </label>
          <fieldset>
            <legend>{{tr . "SettingsFormTimePreferenceTitle"}}</legend>
            <label for="12h">
              <input type="radio" name="displayTimePreference" value="12h" {{ if eq $.DisplayTimePreference "12h" }}checked{{ end }}>
              12hr
            </label>
            <label for="24h">
              <input type="radio" name="displayTimePreference" value="24h" {{ if eq $.DisplayTimePreference "24h" }}checked{{ end }}>
              24hr
            </label>
          </fieldset>
          <fieldset>
            <legend>{{ tr . "SettingsFormOpenLinksInPreferenceTitle" }}</legend>
            <label for="samewindow">
              <input type="radio" name="openLinksInPreference" value="samewindow" {{ if eq $.OpenLinksInPreference "samewindow" }}checked{{ end }}>
              Same Window
            </label>
            <label for="newwindow">
              <input type="radio" name="openLinksInPreference" value="newwindow" {{ if eq $.OpenLinksInPreference "newwindow" }}checked{{ end }}>
              New Window (default)
            </label>
          </fieldset>
        </div>
        <button type="submit" class="primary">Update</button>
      </form>
    </div>
  </article>
{{ end }}
