{{ define "content" }}
  <article class="container-fluid">
    <hgroup>
      <h2>Discovered {{ $.Peers | len }} Peering Pods</h2>
    </hgroup>
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Pod Version</th>
        <th><abbr title="When this pod received the last feed fetch request from the peering pod">Last Seen<abbr></th>
        <th><abbr title="When this pod fetched the peering pod's information the last time (once a day)">Last Updated</abbr></th>
      </tr>
      {{ range $peer := $.Peers }}
        <tr>
          <td><a href="{{ $peer.URI }}">{{ $peer.Name }}</a></td>
          <td><small>{{ $peer.Description | abbrev 60 }}</small></td>
          <td><small>{{ $peer.SoftwareVersion }}</small></td>
          <td><small>{{ $peer.LastSeen | time }}</small></td>
          <td><small>{{ $peer.LastUpdated | time }}</small></td>
        </tr>
      {{ end }}
    </table>
  </article>
{{ end }}
