{{ define "content" }}
  <article class="grid bump-up">
    <hgroup>
      <h2>{{ tr . "ManageUsersLinkTitle" }}</h2>
      <h3>{{ tr . "ManageUsersSummary" }}</h3>
    </hgroup>
  </article>
  <div class="grid">
    <div>
      <h4>{{ tr . "ManageUsersAddUser" }}</h4>
      <form action="/manage/adduser" method="POST">
        <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
        <input type="text" name="username" placeholder="{{ tr . "ManageUsersUsername" }}" aria-label="{{ tr . "ManageUsersUsername" }}" autocomplete="nickname" required>
        <input type="text" name="email" placeholder="{{ tr . "ManageUsersEmailAddress" }}" aria-label="{{ tr . "ManageUsersEmailAddress" }}" autocomplete="email" required>
        <p>{{ tr . "ManageUsersAddSummary" }}</p>
        <button type="submit">{{ tr . "ManageUsersAddUser" }}</button>
      </form>
    </div>
    <div>
      <h4>{{ tr . "ManageUsersDeleteUser" }}</h4>
      <form action="/manage/deluser" method="POST">
        <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
        <input type="text" name="username" placeholder="{{ tr . "ManageUsersUsername" }}" aria-label="{{ tr . "ManageUsersUsername" }}">
        <button type="submit" onclick="return confirm('{{ tr . "ManageUsersDeleteUserPrompt" }}')">{{ tr . "ManageUsersDeleteUser" }}</button>
      </form>
    </div>
    <div>
      <h4>{{ tr . "ManageUsersResetUser" }}</h4>
      <form action="/manage/rstuser" method="POST">
        <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
        <input type="text" name="username" placeholder="{{ tr . "ManageUsersUsername" }}" aria-label="{{ tr . "ManageUsersUsername" }}">
        <button type="submit" onclick="return confirm('{{ tr . "ManageUsersResetUserPrompt" }}')">{{ tr . "ManageUsersResetUser" }}</button>
      </form>
    </div>
  </div>
{{ end }}
