{{ define "post" }}
{{ if $.Authenticated }}
<nav class="toolbar-nav">
  <ul>
    <li class="toolbar-form-button"><a id="bBtn" href="#" title="Bold"><i class="ti ti-bold"></i></a></li>
    <li class="toolbar-form-button"><a id="iBtn" href="#" title="Italic"><i class="ti ti-italic"></i></a></li>
    <li class="toolbar-form-button"><a id="sBtn" href="#" title="Strikethrough"><i class="ti ti-strikethrough"></i></a></li>
    <li class="toolbar-form-button"><a id="cBtn" href="#" title="Code"><i class="ti ti-code"></i></a></li>
    <li class="toolbar-form-button"><a id="usrBtn" href="#" title="Mention"><i class="ti ti-user-circle"></i></a></li>
    <li class="toolbar-form-button"><a id="lnkBtn" href="#" title="Link"><i class="ti ti-link"></i></a></li>
    <li class="toolbar-form-button"><a id="imgBtn" href="#" title="Image"><i class="ti ti-photo"></i></a></li>
    {{ if not $.Ctx.DisableMedia }}
    <li class="toolbar-form-button-media">
      <form id="imageUploadForm" action="/upload" enctype="multipart/form-data" method="POST" title="Upload image">
        <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
        <label for="uploadImage"><i id="uploadImageButton" class="ti ti-camera"></i></label>
        <input id="uploadImage" class="invisible width-none" type="file" accept="image/*" name="media_file" />
      </form>
    </li>
    {{ if not $.Ctx.DisableFfmpeg }}
    <li class="toolbar-form-button-media">
      <form id="audioUploadForm" action="/upload" enctype="multipart/form-data" method="POST" title="Upload audio">
        <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
        <label for="uploadAudio"><i id="uploadAudioButton" class="ti ti-microphone"></i></label>
        <input id="uploadAudio" class="invisible width-none" type="file" accept="audio/*" name="media_file" />
      </form>
    </li>
    <li class="toolbar-form-button-media">
      <form id="videoUploadForm" action="/upload" enctype="multipart/form-data" method="POST" title="Upload video">
        <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
        <label for="uploadVideo"><i id="uploadVideoButton" class="ti ti-video"></i></label>
        <input id="uploadVideo" class="invisible width-none" type="file" accept="video/*" name="media_file" />
      </form>
    </li>
    {{ end }}
    {{ end }}
  </ul>
</nav>
<form id="form" action="/post" method="POST">
  <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
  <input type="hidden" id="replaceTwt" name="hash" value="" />
  <input type="hidden" id="replyTo" name="reply" value="{{ $.Reply }}" />
  <input type="hidden" id="title" name="title" placeholder="{{tr $.Ctx "TwtFormTitle"}}" value="" />
  <div class="textarea-container">
    <textarea id="text" name="text" placeholder="{{ $.TwtPrompt }}" rows=3 maxlength={{ $.MaxTwtLength }} {{ if $.AutoFocus }}autofocus{{ end }} required></textarea>
    <div id="mentioned-list" class="users-list">
      <div id="mentioned-list-content" class="mentioned-list-content">
      </div>
    </div>
  </div>
  <div class="submit-bar">
    <div>
      <select id="postas" class="postas" name="postas">
        <option value="{{ $.User.Username }}" selected>{{ tr $.Ctx "TwtFormPostAs" (dict "Username" $.User.Username) }}</option>
        {{ range $index, $feed := $.User.Feeds }}
        <option value="{{ $feed }}">{{ $feed }}</option>
        {{ end }}
      </select>
    </div>
    <div>
      <button id="post" type="submit">
        <i class="ti ti-send"></i> {{ tr $.Ctx "TwtFormPost" }}
      </button>
    </div>
  </div>
</form>
{{ end }}
{{ end }}

{{ define "twt" }}
<article id="{{ $.Twt.Hash }}" class="h-entry">
  <div class="u-author h-card">
    <div>
      {{ if $.User.Is $.Twt.Twter.URI }}
      <a href="{{ $.User.URL | trimSuffix "/twtxt.txt" }}" class="u-url">
        <img class="avatar u-photo" src="/user/{{ $.User.Username }}/avatar" alt="" loading=lazy />
      </a>
      {{ else }}
        {{ if isLocalURL $.Twt.Twter.URI }}
          <a href="{{ $.Twt.Twter.URI | trimSuffix "/twtxt.txt" }}" class="u-url">
            <img class="avatar u-photo" src="/user/{{ $.Twt.Twter.Nick }}/avatar" alt="" loading=lazy />
          </a>
        {{ else }}
          <a href="/external?uri={{ $.Twt.Twter.URI }}&nick={{ $.Twt.Twter.Nick }}" class="u-url">
            {{ if $.Twt.Twter.Avatar }}
              <img class="avatar u-photo" src="/externalAvatar?uri={{ $.Twt.Twter.URI }}" alt="" loading=lazy />
            {{ else }}
              <i class="ti ti-rss" style="font-size:3em"></i>
            {{ end }}
          </a>
        {{ end }}
      {{ end }}
    </div>
    <div class="author">
      <div class="p-name">
      {{ if isLocalURL $.Twt.Twter.URI }}
        <a href="{{ $.Twt.Twter.URI | trimSuffix "/twtxt.txt" }}">{{ $.Twt.Twter.Nick }}</a>
      {{ else }}
        <a href="/external?uri={{ $.Twt.Twter.URI }}&nick={{ $.Twt.Twter.Nick }}">{{ $.Twt.Twter.Nick }}</a>
      {{ end }}
      </div>
      <div class="p-org">
        <a target="_blank" href="{{ $.Twt.Twter.URI | baseFromURL }}">{{ $.Twt.Twter.URI | hostnameFromURL }}</a>
      </div>
      <div class="publish-time">
        <a class="u-url" href="/twt/{{ $.Twt.Hash }}">
          <time class="dt-published" datetime="{{ $.Twt.Created | date "2006-01-02T15:04:05Z07:00" }}">
            {{ dateInZone (formatForDateTime $.Twt.Created $.User.DisplayTimeFormat) $.Twt.Created $.User.DisplayDatesInTimezone }}
          </time>
        </a>
        <span>&nbsp;({{ $.Twt.Created | time }})</span>
      </div>
    </div>
  </div>
  <div class="p-summary">
    {{ if not (eq $.view "conv") }}
      {{ with urlForRootConv $.Twt }}
        {{ $rootTwt := getRootTwt $.Twt $.User }}
        <small class="twt-context">
          &rdsh;
          <a href="{{ urlForRootConv $.Twt }}#{{ $.Twt.Hash }}" title="Show conversation for #{{ $rootTwt.Hash }}">In-reply-to</a>
          &gt;
          {{ formatTwtContext $.Twt $.User }}
        </small>
      {{- end -}}
    {{- end -}}
    {{ formatTwt $.Twt $.User }}
  </div>
  <hr />
  {{ if $.Authenticated }}
    <span class="twt-bookmark">
      <a class="bookmarkBtn" style="display: {{ if not ($.User.Bookmarked $.Twt.Hash) }}inline{{ else }}none{{ end }};" href="/bookmark/{{ $.Twt.Hash }}" title="{{tr $.Ctx "BookmarkAddTwt"}}">
        <i class="ti ti-bookmark"></i>
      </a>
      <a class="unbookmarkBtn" style="display: {{ if ($.User.Bookmarked $.Twt.Hash) }}inline{{ else }}none{{ end }};" href="/bookmark/{{ $.Twt.Hash }}" title="{{tr $.Ctx "BookmarkRemoveTwt"}}">
        <i class="ti ti-bookmark-off"></i>
      </a>
    </span>
  {{ end }}
  <a href="/search?tag={{ $.Twt.Hash }}" title="Search for this twt hash"><em class="twt-hash">#{{ $.Twt.Hash }}</em></a>
  <nav class="twt-nav">
    <ul>
      {{ if $.Authenticated }}
        <li><a class="replyBtn" href="#" data-reply="{{ $.User.Reply $.Twt }}"><i class="ti ti-message-plus" data-reply="{{ $.User.Reply $.Twt }}"></i> {{tr $.Ctx "TwtReplyLinkTitle"}}</a></li>
        {{ if and (eq $.view "conv") (not (eq $.view "rootconv")) }}
          {{ if lt (getForkLength $.Twt $.User) 1 }}
            <li><a class="forkBtn" href="#" data-fork="{{ $.User.Fork $.Twt }}"><i class="ti ti-messages" data-fork="{{ $.User.Fork $.Twt }}"></i> {{tr $.Ctx "TwtForkLinkTitle"}}</a></li>
          {{ end }}
        {{ end }}
        {{ if eq $.LastTwt.Hash $.Twt.Hash }}
          <li><a class="editBtn" href="#" data-hash="{{ $.Twt.Hash }}" data-text="{{ $.Twt.Text | unparseTwt }}"><i class="ti ti-edit" data-hash="{{ $.Twt.Hash }}" data-text="{{ $.Twt.Text | unparseTwt }}"></i> {{tr $.Ctx "TwtEditLinkTitle"}}</a></li>
          <li><a class="deleteBtn" href="#" data-hash="{{ $.Twt.Hash }}"><i class="ti ti-trash" data-hash="{{ $.Twt.Hash }}"></i> {{tr $.Ctx "TwtDeleteLinkTitle"}}</a></li>
        {{ end }}
      {{ end }}

      {{ if and (eq $.view "conv") (not (eq $.view "rootconv")) }}
        {{ if gt (getForkLength $.Twt $.User) 0 }}
          <li><a class="convBtn" href="{{ urlForFork $.Twt }}"><i class="ti ti-messages"></i> {{tr $.Ctx "TwtForkLinkTitle"}}<span class="yarn-count-badge">{{ getForkLength $.Twt $.User }}</span></a></li>
        {{ end }}
      {{ end }}

      {{ if eq $.view "rootconv" }}
        {{ with urlForRootConv $.Twt }}
          <li><a class="convBtn" href="{{ urlForRootConv $.Twt }}"><i class="ti ti-message"></i> Root</a></li>
        {{ end }}
      {{ else if not (eq $.view "conv") }}
        {{ with urlForConv $.Twt }}
        <li><a class="convBtn" href="{{ urlForConv $.Twt }}"><i class="ti ti-message"></i> {{tr $.Ctx "TwtConversationLinkTitle"}}{{ if gt (getConvLength $.Twt $.User) 1 }}<span class="yarn-count-badge">{{ getConvLength $.Twt $.User }}</span>{{ end }}</a></li>
        {{ end }}
      {{ end }}
    </ul>
  </nav>
</article>
{{ end }}

{{ define "feed" }}
  {{ if gt (len $.Twts) 0 }}
  <div class="grid h-feed">
    <div>
      {{ template "pager" (dict "Pager" $.Pager "Ctx" $.Ctx)}}
      {{ range $idx, $twt := $.Twts }}
      {{ template "twt" (dict "Authenticated" $.Authenticated "User" $.User "Profile" $.Profile "LastTwt" $.LastTwt "Twt" $twt "Ctx" $.Ctx "view" $.view) }}
      {{ else }}
        {{ if eq $.view "timeline" }}
          <p>{{tr $.Ctx "NoTwts"}}</p>
          <p>Try checking out the <a href="/discover">{{tr $.Ctx "NavDiscover"}}</a>
          timeline to see what's happenning on the {{ $.Ctx.InstanceName }} pod or
          <a href="/follow">{{tr $.Ctx "NavFollow" }}</a> a feed</p>
        {{ else }}
          <p>{{ .Profile.Username }} last posted {{ .Profile.LastPostedAt | time }}</p>
        {{ end }}
      {{ end }}
      {{ template "pager" (dict "Pager" $.Pager "Ctx" $.Ctx)}}
    </div>
  </div>
  {{ else }}
  <div class="h-feed-empty"></div>
  {{ end }}
{{ end }}

{{ define "pager" }}
{{ if $.Pager.HasPages }}
<nav class="pagination-nav">
  <ul>
    <li>
      {{ if $.Pager.HasPrev }}
        {{ with $.Ctx.Twter.URI }}
          {{ if isLocalURL $.Ctx.Twter.URI }}
            <a href="?p={{ $.Pager.PrevPage }}"><i class="ti ti-caret-left"></i>&nbsp;{{tr $.Ctx "PagerPrevLinkTitle"}}</a>
          {{ else }}
            <a href="/external?uri={{ $.Ctx.Twter.URI }}&nick={{ $.Ctx.Twter.Nick }}&p={{ $.Pager.PrevPage }}"><i class="ti ti-caret-left"></i>&nbsp;{{tr $.Ctx "PagerPrevLinkTitle"}}</a>
          {{ end }}
        {{ else }}
          <a href="?p={{ $.Pager.PrevPage }}"><i class="ti ti-caret-left"></i>&nbsp;{{tr $.Ctx "PagerPrevLinkTitle"}}</a>
        {{ end }}
      {{ else }}
      {{ end }}
    </li>
  </ul>
  <ul>
      <li><small>{{tr $.Ctx "PagerTwtsSummary" (dict "Page" $.Pager.Page "PageNums" $.Pager.PageNums "Nums" $.Pager.Nums)}}</small></li>
  </ul>
  <ul>
    <li>
      {{ if $.Pager.HasNext }}
        {{ with $.Ctx.Twter.URI }}
          {{ if isLocalURL $.Ctx.Twter.URI }}
            <a href="?p={{ $.Pager.NextPage }}">{{tr $.Ctx "PagerNextLinkTitle"}}&nbsp;<i class="ti ti-caret-right"></i></a>
          {{ else }}
            <a href="/external?uri={{ $.Ctx.Twter.URI }}&nick={{ $.Ctx.Twter.Nick }}&p={{ $.Pager.NextPage }}">{{tr $.Ctx "PagerNextLinkTitle"}}&nbsp;<i class="ti ti-caret-right"></i></a>
          {{ end }}
        {{ else }}
          <a href="?p={{ $.Pager.NextPage }}">{{tr $.Ctx "PagerNextLinkTitle"}}&nbsp;<i class="ti ti-caret-right"></i></a>
        {{ end }}
      {{ else }}
      {{ end }}
    </li>
  </ul>
</nav>
{{ end }}
{{ end }}

{{ define "followStats"}}
{{ if $.Profile.ShowFollowing }}
<div>
  {{ if eq $.Profile.Type "External" }}
    <a href="/externalFollowing?uri={{ $.Profile.URL }}"><strong>{{ tr $.Ctx "ProfileFollowingLinkTitle" | trimSuffix ":" }}</strong><br/>{{ $.Profile.NFollowing }}</a>
  {{ else }}
    <a href="/user/{{ $.Profile.Username }}/following"><strong>{{ tr $.Ctx "ProfileFollowingLinkTitle" | trimSuffix ":" }}</strong><br/>{{ $.Profile.NFollowing }}</a>
  {{ end }}
</div>
{{ end }}
{{ if $.Profile.ShowFollowers }}
<div>
  {{ if eq $.Profile.Type "External" }}
    <a href="#" title="Details on followers are not available on external feeds"><strong>{{ tr $.Ctx "ProfileFollowersLinkTitle" | trimSuffix ":" }}</strong><br/>{{ $.Profile.NFollowers }}</a>
  {{ else }}
    <a href="/user/{{ $.Profile.Username }}/followers"><strong>{{ tr $.Ctx "ProfileFollowersLinkTitle" | trimSuffix ":" }}</strong><br/>{{ $.Profile.NFollowers }}</a>
  {{ end }}
</div>
{{ end }}
{{ end }}

{{ define "profileLinks" }}
<a target="_blank" href="{{ $.Profile.URL }}"><i class="ti ti-link-profile"></i> {{ tr $.Ctx "ProfileTwtxtLinkTitle" }}</a>
<a target="_blank" href="{{ $.Profile.URL | trimSuffix "/twtxt.txt" }}/atom.xml"><i class="ti ti-rss-profile"></i> {{ tr $.Ctx "ProfileAtomLinkTitle" }}</a>
<a href="{{ $.Profile.URL | trimSuffix "/twtxt.txt" }}/bookmarks"><i class="ti ti-bookmarks"></i> {{ tr $.Ctx "ProfileBookmarksLinkTitle" | trimSuffix ":" }}</a>
<a target="_blank" href="{{ $.Profile.URL | trimSuffix "/twtxt.txt" }}/config.yaml"><i class="ti ti-settings"></i> {{ tr $.Ctx "ProfileConfigLinkTitle" }}</a>
{{ end }}
