{{ define "post" }}
{{ if $.Authenticated }}
<nav class="toolbar-nav">
  <ul>
    <li><a id="bBtn" href="#" title="Bold"><i class="icss-text-bold"></i></a></li>
    <li><a id="iBtn" href="#" title="Italic"><i class="icss-text-italic"></i></a></li>
    <li><a id="cBtn" href="#" title="Code"><i class="icss-text-width"></i></a></li>
    <li><a id="sBtn" href="#" title="Strikethrough"><i class="icss-x"></i></a></li>
    <li><a id="usrBtn" href="#" title="Mention"><i class="icss-user-circle"></i></a></li>
    <li><a id="lnkBtn" href="#" title="Link"><i class="icss-link"></i></a></li>
    <li><a id="imgBtn" href="#" title="Image"><i class="icss-image"></i></a></li>
    {{ if not $.Ctx.DisableMedia }}
      <li class="toolbar-form-button">
        <form id="imageUploadForm" action="/upload" enctype="multipart/form-data" method="POST" title="Upload image">
          <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
          <label for="uploadImage">
            <i id="uploadImageButton" class="icss-camera"></i>
          </label>
          <input id="uploadImage" class="invisible width-none" type="file" accept="image/*" name="media_file" />
        </form>
      </li>
      {{ if not $.Ctx.DisableFfmpeg }}
        <li class="toolbar-form-button">
          <form id="audioUploadForm" action="/upload" enctype="multipart/form-data" method="POST" title="Upload audio">
            <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
            <label for="uploadAudio">
              <i id="uploadAudioButton" class="icss-microphone"></i>
            </label>
            <input id="uploadAudio" class="invisible width-none" type="file" accept="audio/*" name="media_file" />
          </form>
        </li>
        <li class="toolbar-form-button">
          <form id="videoUploadForm" action="/upload" enctype="multipart/form-data" method="POST" title="Upload video">
            <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
            <label for="uploadVideo">
              <i id="uploadVideoButton" class="icss-video-camera"></i>
            </label>
            <input id="uploadVideo" class="invisible width-none" type="file" accept="video/*" name="media_file" />
          </form>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</nav>
<form id="form" action="/post" method="POST">
  <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
  <input type="hidden" id="replaceTwt" name="hash" value="" />
  <input type="hidden" id="replyTo" name="reply" value="{{ $.Reply }}" />
  <input type="hidden" id="title" name="title" placeholder="{{tr $.Ctx "TwtFormTitle"}}" value="" />
  <div class="textarea-container">
    <textarea id="text" name="text" placeholder="{{ $.TwtPrompt }}" rows=3 maxlength={{ $.MaxTwtLength }} {{ if $.AutoFocus }}autofocus{{ end }} required></textarea>
    <div id="mentioned-list" class="users-list">
      <div id="mentioned-list-content" class="mentioned-list-content">
      </div>
    </div>
  </div>
  <div class="grid">
    <div>
      <select id="postas" class="postas" name="postas">
          <option value="{{ $.User.Username }}" selected>{{tr $.Ctx "TwtFormPostAs" (dict "Username" $.User.Username)}}</option>
        {{ range $index, $feed := $.User.Feeds }}
        <option value="{{ $feed }}">{{ $feed }}</option>
        {{ end }}
      </select>
      <button id="post" type="submit">
        <i class="icss-paper-plane"></i>
        {{tr $.Ctx  "TwtFormPost"}}
      </button>
    </div>
  </div>
</form>
{{ end }}
{{ end }}

{{ define "twt" }}
<article id="{{ $.Twt.Hash }}" class="h-entry">
  <div class="u-author h-card">
    <div>
      {{ if $.User.Is $.Twt.Twter.URL }}
      <a href="{{ $.User.URL | trimSuffix "/twtxt.txt" }}" class="u-url">
        <img class="avatar u-photo" src="/user/{{ $.User.Username }}/avatar" alt="" loading=lazy />
      </a>
      {{ else }}
        {{ if isLocalURL $.Twt.Twter.URL }}
          <a href="{{ $.Twt.Twter.URL | trimSuffix "/twtxt.txt" }}" class="u-url">
            <img class="avatar u-photo" src="/user/{{ $.Twt.Twter.Nick }}/avatar" alt="" loading=lazy />
          </a>
        {{ else }}
          <a href="/external?uri={{ $.Twt.Twter.URL }}&nick={{ $.Twt.Twter.Nick }}" class="u-url">
            {{ if $.Twt.Twter.Avatar }}
              <img class="avatar u-photo" src="/externalAvatar?uri={{ $.Twt.Twter.URL }}" alt="" loading=lazy />
            {{ else }}
              <i class="icss-rss" style="font-size:3em"></i>
            {{ end }}
          </a>
        {{ end }}
      {{ end }}
    </div>
    <div class="author">
      {{ if $.User.Is $.Twt.Twter.URL }}
      <a href="{{ $.User.URL | trimSuffix "/twtxt.txt" }}" class="p-name">{{tr $.Ctx "MeLinkTitle"}}</a>
      {{ else }}
      {{ if isLocalURL $.Twt.Twter.URL }}
      <a href="{{ $.Twt.Twter.URL | trimSuffix "/twtxt.txt" }}" class="p-name">{{ $.Twt.Twter.Nick }}</a>
      {{ else }}
      <a href="/external?uri={{ $.Twt.Twter.URL }}&nick={{ $.Twt.Twter.Nick }}" class="p-name">
        {{ $.Twt.Twter.Nick }}
        <span class="p-org">@{{ $.Twt.Twter.URL | hostnameFromURL }}</span>
      </a>
      {{ end }}
      {{ end }}
      <div class="publish-time">
        <a class="u-url" href="/twt/{{ $.Twt.Hash }}">
          <time class="dt-published" datetime="{{ $.Twt.Created | date "2006-01-02T15:04:05Z07:00" }}">
            {{ dateInZone (formatForDateTime $.Twt.Created $.User.DisplayTimeFormat) $.Twt.Created $.User.DisplayDatesInTimezone }}
          </time>
        </a>
        <span>&nbsp;({{ $.Twt.Created | time }})</span>
        {{ if $.Authenticated }}
          <span>
            <a class="bookmarkBtn" style="display: {{ if not ($.User.Bookmarked $.Twt.Hash) }}inline{{ else }}none{{ end }};" href="/bookmark/{{ $.Twt.Hash }}" title="{{tr $.Ctx "BookmarkAddTwt"}}">
              <i class="icss-bookmark-o"></i>
            </a>
            <a class="unbookmarkBtn" style="display: {{ if ($.User.Bookmarked $.Twt.Hash) }}inline{{ else }}none{{ end }};" href="/bookmark/{{ $.Twt.Hash }}" title="{{tr $.Ctx "BookmarkRemoveTwt"}}">
              <i class="icss-bookmark"></i>
            </a>
          </span>
        {{ end }}
      </div>
    </div>
  </div>
  <div class="p-summary">
    {{ if not (eq $.view "conv") }}
      {{ with urlForRootConv $.Twt }}
        {{ $rootTwt := getRootTwt $.Twt $.User }}
        <small class="twt-context">
          &rdsh;
          <a href="{{ urlForRootConv $.Twt }}#{{ $.Twt.Hash }}" title="Show conversation for #{{ $rootTwt.Hash }}">
            {{ if $.User.Is $rootTwt.Twter.URL }}
              {{ tr $.Ctx "MeLinkTitle" }}
            {{ else }}
              {{ if isLocalURL $rootTwt.Twter.URL }}
                {{ $rootTwt.Twter.Nick }}
              {{ else }}
                {{ $rootTwt.Twter.Nick }}&commat;{{ $rootTwt.Twter.URL | hostnameFromURL }}
              {{ end }}
            {{ end }}
          </a>
          &gt;
          {{ formatTwtContext $.Twt $.User }}
        </small>
      {{- end -}}
    {{- end -}}
    {{ formatTwt $.Twt $.User }}
  </div>
  <hr />
  <a href="/search?tag={{ $.Twt.Hash }}" title="Search for this twt hash"><em class="twt-hash">#{{ $.Twt.Hash }}</em></a>
  <nav class="twt-nav">
    <ul>
      {{ if $.Authenticated }}
        {{ if eq $.LastTwt.Hash $.Twt.Hash }}
          <li><a class="editBtn" href="#" data-hash="{{ $.Twt.Hash }}" data-text="{{ $.Twt.Text | unparseTwt }}"><i class="icss-edit"></i> {{tr $.Ctx "TwtEditLinkTitle"}}</a></li>
          <li><a class="deleteBtn" href="#" data-hash="{{ $.Twt.Hash }}"><i class="icss-x"></i> {{tr $.Ctx "TwtDeleteLinkTitle"}}</a></li>
        {{ end }}
        <li><a class="replyBtn" href="#" data-reply="{{ $.User.Reply $.Twt }}"><i class="icss-arrow-left"></i> {{tr $.Ctx "TwtReplyLinkTitle"}}</a></li>
        {{ if and (eq $.view "conv") (not (eq $.view "rootconv")) }}
          {{ if lt (getForkLength $.Twt $.User) 1 }}
            <li><a class="forkBtn" href="#" data-fork="{{ $.User.Fork $.Twt }}"><i class="icss-arrows"></i> {{tr $.Ctx "TwtForkLinkTitle"}}</a></li>
          {{ end }}
        {{ end }}
      {{ end }}

      {{ if and (eq $.view "conv") (not (eq $.view "rootconv")) }}
        {{ if gt (getForkLength $.Twt $.User) 0 }}
          <li><a class="convBtn" href="{{ urlForFork $.Twt }}"><i class="icss-arrows"></i> {{tr $.Ctx "TwtForkLinkTitle"}}<span class="yarn-count-badge">{{ getForkLength $.Twt $.User }}</span></a></li>
        {{ end }}
      {{ end }}

      {{ if eq $.view "rootconv" }}
        {{ with urlForRootConv $.Twt }}
          <li><a class="convBtn" href="{{ urlForRootConv $.Twt }}"><i class="icss-comment"></i> {{tr $.Ctx "TwtRootLinkTitle"}}</a></li>
        {{ end }}
      {{ else if not (eq $.view "conv") }}
        {{ with urlForConv $.Twt }}
        <li><a class="convBtn" href="{{ urlForConv $.Twt }}"><i class="icss-comment"></i> {{tr $.Ctx "TwtConversationLinkTitle"}}{{ if gt (getConvLength $.Twt $.User) 1 }}<span class="yarn-count-badge">{{ getConvLength $.Twt $.User }}</span>{{ end }}</a></li>
        {{ end }}
      {{ end }}
    </ul>
  </nav>
</article>
{{ end }}

{{ define "feed" }}
<div class="grid h-feed">
  <div>
    {{ template "pager" (dict "Pager" $.Pager "Ctx" $.Ctx)}}
    {{ range $idx, $twt := $.Twts }}
    {{ template "twt" (dict "Authenticated" $.Authenticated "User" $.User "Profile" $.Profile "LastTwt" $.LastTwt "Twt" $twt "Ctx" $.Ctx "view" $.view) }}
    {{ else }}
      {{ if eq $.view "timeline" }}
        <p>{{tr $.Ctx "NoTwts"}}</p>
        <p>Try checking out the <a href="/discover">{{tr $.Ctx "NavDiscover"}}</a>
        timeline to see what's happenning on the {{ $.Ctx.InstanceName }} pod or
        <a href="/follow">{{tr $.Ctx "NavFollow" }}</a> a feed</p>
      {{ end }}
    {{ end }}
    {{ template "pager" (dict "Pager" $.Pager "Ctx" $.Ctx)}}
  </div>
</div>
{{ end }}

{{ define "pager" }}
{{ if $.Pager.HasPages }}
<nav class="pagination-nav">
  <ul>
    <li>
      {{ if $.Pager.HasPrev }}
        {{ with $.Ctx.Twter.URL }}
          {{ if isLocalURL $.Ctx.Twter.URL }}
            <a href="?p={{ $.Pager.PrevPage }}">{{tr $.Ctx "PagerPrevLinkTitle"}}</a>
          {{ else }}
            <a href="/external?uri={{ $.Ctx.Twter.URL }}&nick={{ $.Ctx.Twter.Nick }}&p={{ $.Pager.PrevPage }}">{{tr $.Ctx "PagerPrevLinkTitle"}}</a>
          {{ end }}
        {{ else }}
          <a href="?p={{ $.Pager.PrevPage }}">{{tr $.Ctx "PagerPrevLinkTitle"}}</a>
        {{ end }}
      {{ else }}
      {{ end }}
    </li>
  </ul>
  <ul>
      <li><small>{{tr $.Ctx "PagerTwtsSummary" (dict "Page" $.Pager.Page "PageNums" $.Pager.PageNums "Nums" $.Pager.Nums)}}</small></li>
  </ul>
  <ul>
    <li>
      {{ if $.Pager.HasNext }}
        {{ with $.Ctx.Twter.URL }}
          {{ if isLocalURL $.Ctx.Twter.URL }}
            <a href="?p={{ $.Pager.NextPage }}">{{tr $.Ctx "PagerNextLinkTitle"}}</a>
          {{ else }}
            <a href="/external?uri={{ $.Ctx.Twter.URL }}&nick={{ $.Ctx.Twter.Nick }}&p={{ $.Pager.NextPage }}">{{tr $.Ctx "PagerNextLinkTitle"}}</a>
          {{ end }}
        {{ else }}
          <a href="?p={{ $.Pager.NextPage }}">{{tr $.Ctx "PagerNextLinkTitle"}}</a>
        {{ end }}
      {{ else }}
      {{ end }}
    </li>
  </ul>
</nav>
{{ end }}
{{ end }}

{{ define "profileLinks" }}
<ul>
  {{ if $.ShowConfig }}
    <li><a  href="/user/{{ $.Profile.Username }}/config.yaml">{{tr $.Ctx "ProfileConfigLinkTitle"}}&nbsp;<i class="icss-gear"></i></a></li>
  {{ end }}
  <li><a target="_blank" href="{{ $.Profile.URL }}">{{tr $.Ctx "ProfileTwtxtLinkTitle"}}&nbsp;<i class="icss-link"></i></a></li>
  {{ if eq $.Profile.Type "User" }}
    <li><a target="_blank" href="{{ $.Profile.URL | trimSuffix "/twtxt.txt" }}/atom.xml">{{tr $.Ctx "ProfileAtomLinkTitle"}}&nbsp;<i class="icss-rss"></i></a></li>
  {{ end }}
  {{ if $.Profile.ShowFollowers }}
    {{ if eq $.Profile.Type "External" }}
      <li><a href="#" title="Details on followers are not available on external feeds">{{tr $.Ctx "ProfileFollowersLinkTitle"}} {{ $.Profile.NFollowers }}</a></li>
    {{ else }}
      <li><a href="/user/{{ $.Profile.Username }}/followers">{{tr $.Ctx "ProfileFollowersLinkTitle"}} {{ $.Profile.NFollowers }}</a></li>
    {{ end }}
  {{ end }}
  {{ if $.Profile.ShowFollowing }}
    {{ if eq $.Profile.Type "External" }}
      <li><a href="/externalFollowing?uri={{ $.Profile.URL }}">{{tr $.Ctx "ProfileFollowingLinkTitle"}} {{ $.Profile.NFollowing }}</a></li>
    {{ else }}
      <li><a href="/user/{{ $.Profile.Username }}/following">{{tr $.Ctx "ProfileFollowingLinkTitle"}} {{ $.Profile.NFollowing }}</a></li>
    {{ end }}
  {{ end }}
  {{ if $.Profile.ShowBookmarks }}
    <li><a href="/user/{{ $.Profile.Username }}/bookmarks">{{tr $.Ctx "ProfileBookmarksLinkTitle"}} {{ $.Profile.Bookmarks | len }}</a></li>
  {{ end }}
</ul>
{{ end }}
