{{ define "content" }}
  {{ template "post" (dict "Authenticated" $.Authenticated "User" $.User "TwtPrompt" $.TwtPrompt "MaxTwtLength" $.MaxTwtLength "Reply" $.Reply "AutoFocus" true "CSRFToken" $.CSRFToken "Ctx" .) }}
  {{ if $.Twts }}
    {{ template "twt" (dict "Authenticated" $.Authenticated "User" $.User "Profile" $.Profile "LastTwt" $.LastTwt "Twt" ( $.Twts | first) "Ctx" . "view" "permalink") }}
  {{ else }}
    <p>Nothing to see here. <a href="?unfiltered=1">View Unfiltered</a></p>
  {{ end }}
{{ end }}
