{{ define "content" }}

  <div class="profile-name">
    <span class="p-name">{{ .Profile.Username }}<span class="p-org">@{{ .Profile.URL | hostnameFromURL }}</span></span>
  </div>

  <div class="profile-stats">
    <a {{ if not (eq $.Profile.Type "External") }}href="{{ $.Profile.URL | trimSuffix "/twtxt.txt" }}"{{ else }}href="/external?uri={{ $.Profile.URL}}&nick={{ $.Profile.Username }}"{{ end }} class="u-url">
      {{ if .Profile.Avatar }}
      <img class="avatar u-photo" {{ if not (eq $.Profile.Type "External") }}src="/user/{{ $.Profile.Username }}/avatar"{{ else }}src="/externalAvatar?uri={{ $.Profile.URL }}"{{ end }} alt="" loading=lazy />
      {{ else }}
      <i class="ti ti-rss-nav"></i>
      {{ end }}
    </a>
    {{ template "followStats" (dict "Profile" .Profile "Ctx" .) }}
  </div>

  <div class="profile-tagline">
    {{ if .Profile.FollowedBy }}
    <div class="profile-popular"><a href="{{ .Profile.URL }}">@{{ .Profile.Username }}</a> {{ tr . "ProfileFollowsYou" }}</div>
    {{ else }}
    {{ $splitFollow := split "(" (tr . "ProfileDoesNotFollowYou")}}
    <div class="profile-popular">
      <a href="{{ .Profile.URL }}">@{{ .Profile.Username }}</a> {{ ((index $splitFollow "_0") | trimSuffix ")") | html }}
    </div>
    <div class="profile-nofollow">
      {{ ((index $splitFollow "_1") | trimSuffix ")") | html }}
    </div>
    {{ end }}
    {{ if gt (len .Profile.Tagline) 0 }}
    <p>{{ .Profile.Tagline }}</p>
    {{ end }}
  </div>

  <div class="profile-links">
    <a class="followBtn" style="display: {{ if not $.Profile.Follows }}inline{{ else }}none{{ end}};" href="/follow?nick={{ .Profile.Username  }}&url={{ .Profile.URL }}">
      <i class="ti ti-circle-plus"></i> {{ tr . "FollowLinkTitle" }}
    </a>
    <a class="unfollowBtn" style="display: {{ if $.Profile.Follows }}inline{{ else }}none{{ end}};" href="/unfollow?nick={{ .Profile.Username  }}">
      <i class="ti ti-circle-minus"></i> {{ tr . "UnfollowLinkTitle" }}
    </a>
    {{ template "profileLinks" (dict "Profile" .Profile "Ctx" .) }}
  </div>

  <details class="profile-report">
    <summary>{{ tr . "ProfileBlockUserTitle" }}</summary>
    {{ (tr . "ProfileBlockUserContent" (dict "InstanceName" .InstanceName)) | html }}
    <ul>
      <li>
        <a class="muteBtn" style="display: {{ if not $.Profile.Muted }}inline{{ else }}none{{ end }};" href="/mute?nick={{ .Profile.Username }}&url={{ .Profile.URL }}">
          <i class="ti ti-volume-3"></i> {{ tr . "ProfileMuteLinkTitle" }}
        </a>
        <a class="unmuteBtn" style="display: {{ if .Profile.Muted }}inline{{ else }}none{{ end }};" href="/unmute?nick={{ .Profile.Username }}">
          <i class="ti ti-volume"></i> {{ tr . "ProfileUnmuteLinkTitle" }}
        </a>
      </li>
      <li>
        <a href="/report?nick={{ .Profile.Username  }}&url={{ .Profile.URL }}" style="color:red;">
          <i class="ti ti-urgent" style="color:red;"></i> {{ tr . "ProfileReportLinkTitle" }}
        </a>
      </li>
    </ul>
  </details>

  <div class="profile-recent">
    <h2>{{ tr . "RecentTwtsSummary" (dict "Username" .Profile.Username) }}</h2>
  </div>

  {{ template "feed" (dict "Authenticated" $.Authenticated "User" $.User "Profile" $.Profile "LastTwt" $.LastTwt "Pager" $.Pager "Twts" $.Twts "Ctx" . "view" "profile") }}

{{ end }}
