{{ define "content" }}
  <article class="grid">
    <div>
      <hgroup>
        <h2>{{ tr . "ReportFormTitle" }}</h2>
        <p>{{ tr . "ReportFormSummary" | html }}</p>
      </hgroup>
      <form action="/report" method="POST">
        <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
        <input type="hidden" name="nick" value="{{ .ReportNick }}">
        <input type="hidden" name="url" value="{{ .ReportURL }}">
        <input type="text" name="name" placeholder="{{ tr . "ReportFormName" }}" aria-label="{{ tr . "ReportFormName" }}" autofocus required>
        <input type="email" name="email" placeholder="{{ tr . "ReportFormEmail" }}" aria-label="{{ tr . "ReportFormEmail" }}" required>
        <p>{{ tr . "ReportFormNameEmailReason" }}</p>
        <select name="category">
          <option value="" selected>{{ tr . "ReportFormTypeOfAbuse" }}</option>
          <option value="harassment">{{ tr . "ReportFormAbuseTypeHarassment" }}</option>
          <option value="hate">{{ tr . "ReportFormAbuseTypeHate" }}</option>
          <option value="doxxing">{{ tr . "ReportFormAbuseTypeDoxxing" }}</option>
          <option value="threat">{{ tr . "ReportFormAbuseTypeThreat" }}</option>
          <option value="illegal">{{ tr . "ReportFormAbuseTypeIllegal" }}</option>
        </select>
        <textarea name="message" placeholder="{{ tr . "ReportFormAbuseMessage" }}" aria-label="{{ tr . "ReportFormAbuseMessage" }}" rows="4" cols="50" required></textarea>
        <p>{{ tr . "ReportFormLinkToAbuseContent" | html }}</p>
        <small>{{ tr . "ReportFormCaptchaSummary" }}</small>
        <img id="captcha" src="/_captcha" alt="captcha" height="50" width="150" />
        <input type="text" name="captchaInput" class="captchaInput" placeholder="{{ tr . "ReportFormCaptcha" }}" aria-label="{{ tr . "ReportFormCaptcha" }}" required>
        <button type="submit">{{ tr . "ReportFormSubmit" }}</button>
      </form>
    </div>
    <div></div>
  </article>
{{ end }}
