{{ define "content" }}
<div>
  <div class="profile-name">
    <span class="p-name p-name-profile">{{ .User.Username }}</span>
    <span class="p-org p-org-profile">{{ .User.URL | hostnameFromURL }}</span>
  </div>
  <div class="profile-stats">
    <a href="{{ $.User.URL | trimSuffix "/twtxt.txt" }}" class="u-url">
      <img class="avatar u-photo" src="/user/{{ $.User.Username }}/avatar" alt="" loading=lazy />
    </a>
    {{ template "followStats" (dict "Profile" .Profile "Ctx" .) }}
  </div>
  <div class="profile-tagline">
    {{ if gt (len .User.Tagline) 0 }}
    <p>{{ .User.Tagline }}</p>
    {{ end }}
  </div>
  <div class="profile-links">
    {{ template "profileLinks" (dict "Profile" (.User.Profile .BaseURL .User) "Ctx" .) }}
  </div>
</div>
<article class="grid">
  <form action="/settings" enctype="multipart/form-data" method="POST">
    <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
    <div class="grid">
      <hgroup>
        <h2>{{ tr . "SettingsTitle" }}</h2>
        <h3>{{ tr . "SettingsSummary" }}</h3>
      </hgroup>
    </div>
    <div>
      <label for="avatar">
        {{ tr . "SettingsFormChangeAvatarTitle" }}
        <input id="avatar_upload" type="file" accept="image/png, image/jpeg" name="avatar_file" aria-label="{{ tr . "SettingsFormLabelUploadAvatar" }}" />
      </label>
    </div>
    <div class="grid">
      <div>
        <label for="tagline">
          {{ tr . "SettingsFormChangeTaglineTitle" }}
          <input id="tagline" type="text" name="tagline" placeholder="{{ tr . "SettingsFormChangeTagline" }}" aria-label="{{ tr . "SettingsFormLabelTagline" }}" value="{{ .User.Tagline }}" />
        </label>
      </div>
    </div>
    <div class="grid">
      <div>
        <label for="password">
          {{ tr . "SettingsFormChangePasswordTitle" }}
          <input id="password" type="password" name="password" placeholder="{{ tr . "SettingsFormChangePassword" }}" aria-label="{{ tr . "SettingsFormLabelPassword" }}" autocomplete="current-password">
        </label>
      </div>
      <div>
        <label for="email">
          {{ tr . "SettingsFormChangeEmailTitle" }}
          <input id="email" type="email" name="email" placeholder="{{ tr . "SettingsFormChangeEmail" }}" aria-label="{{ tr . "SettingsFormLabelEmail" }}">
          <small>
            {{ (tr . "SettingsFormChangeEmailSummary") | html }}
          </small>
        </label>
      </div>
    </div>
    <div class="grid">
      <div>
        <label for="displayDatesInTimezone">
          {{tr . "SettingsFormTimezoneTitle"}}
          <select id="displayDatesInTimezone" name="displayDatesInTimezone">
            {{ range .Timezones }}
            <option value="{{ .TzName }}" {{ if eq $.User.DisplayDatesInTimezone .TzName }}selected{{ end }}>{{ .NameWithOffset }}</option>
            {{ end }}
          </select>
        </label>
      </div>
      <div>
        <fieldset>
          <legend>{{ tr . "SettingsFormTimePreferenceTitle" }}</legend>
          <label for="12h">
            <input type="radio" name="displayTimePreference" value="12h" {{ if eq $.User.DisplayTimePreference "12h" }}checked{{ end }}>
            12 hours
          </label>
          <label for="24h">
            <input type="radio" name="displayTimePreference" value="24h" {{ if eq $.User.DisplayTimePreference "24h" }}checked{{ end }}>
            24 hours
          </label>
        </fieldset>
      </div>
       <div>
        <fieldset>
          <legend>{{ tr . "SettingsFormOpenLinksInPreferenceTitle" }}</legend>
          <label for="samewindow">
            <input type="radio" name="openLinksInPreference" value="samewindow" {{ if eq $.User.OpenLinksInPreference "samewindow" }}checked{{ end }}>
            {{ tr . "SettingsFormOpenLinksInPreferenceSameWindow" }}
          </label>
          <label for="newwindow">
            <input type="radio" name="openLinksInPreference" value="newwindow" {{ if eq $.User.OpenLinksInPreference "newwindow" }}checked{{ end }}>
            {{ tr . "SettingsFormOpenLinksInPreferenceNewWindow" }}
          </label>
        </fieldset>
      </div>
    </div>
    <div class="grid">
      <div>
        <fieldset>
          <legend>{{ tr . "SettingsFormPrivacySettingsTitle" }}</legend>
          <label for="isBookmarksPubliclyVisible">
            <input id="isBookmarksPubliclyVisible" type="checkbox" name="isBookmarksPubliclyVisible" aria-label="{{ tr . "SettingsFormPrivacySettingsShowBookmarksLabel" }}" role="switch" {{ if .User.IsBookmarksPubliclyVisible }}checked{{ end }}>
            {{ tr . "SettingsFormPrivacySettingsShowBookmarks" }}
          </label>
          <label for="isFollowersPubliclyVisible">
            <input id="isFollowersPubliclyVisible" type="checkbox" name="isFollowersPubliclyVisible" aria-label="{{ tr . "SettingsFormPrivacySettingsShowFollowersLabel" }}" role="switch" {{ if .User.IsFollowersPubliclyVisible }}checked{{ end }}>
            {{ tr . "SettingsFormPrivacySettingsShowFollowers" }}
          </label>
          <label for="isFollowingPubliclyVisible">
            <input id="isFollowingPubliclyVisible" type="checkbox" name="isFollowingPubliclyVisible" aria-label="{{ tr . "SettingsFormPrivacySettingsShowFollowingsLabel" }}" role="switch" {{ if .User.IsFollowingPubliclyVisible }}checked{{ end }}>
            {{ tr . "SettingsFormPrivacySettingsShowFollowings" }}
          </label>
        </fieldset>
      </div>
      <div>
        <fieldset id="theme">
          <legend>{{ tr . "SettingsFormThemeTitle" }}</legend>
          <select name="theme">
            <option id="theme-auto" value="auto" {{ if eq .User.Theme "auto" }}selected{{ end }}>{{ tr . "ThemeAuto" }}</option>
            <option id="theme-dark-classic" value="dark-classic" {{ if eq .User.Theme "dark-classic" }}selected{{ end }}>{{ tr . "ThemeDarkClassic" }}</option>
            <option id="theme-light-classic" value="light-classic" {{ if eq .User.Theme "light-classic" }}selected{{ end }}>{{ tr . "ThemeLightClassic" }}</option>
            <option id="theme-dark" value="dark" {{ if eq .User.Theme "dark" }}selected{{ end }}>{{ tr . "ThemeDark" }}</option>
            <option id="theme-light" value="light" {{ if eq .User.Theme "light" }}selected{{ end }}>{{ tr . "ThemeLight" }}</option>
          </select>
        </fieldset>
      </div>
    </div>
    <button type="submit" class="primary">{{ tr . "SettingsFormUpdate" }}</button>
  </form>
</article>
<article class="grid no-tb">
  <details>
    <summary>{{ tr . "SettingsToolsTitle" }}</summary>
    <p>{{ (tr . "SettingsToolsSummary" (dict "InstanceName" .InstanceName)) | html }}</p>
    <a role="button" href="javascript:{{ .Bookmarklet }}">{{ tr . "SettingsToolsShareLinkTitle" (dict "InstanceName" .InstanceName) }}</a>
  </details>
</article>
<article class="grid no-tb">
  <details>
    <summary>{{ tr . "SettingsDeleteAccountTitle" }}</summary>
    <p>{{ (tr . "SettingsDeleteAccountSummary") | html }}</p>
    <form action="/deleteFeeds" method="GET">
      <input type="hidden" name="csrf_token" value="{{ $.CSRFToken }}">
      <button type="submit" class="contrast">{{ tr . "SettingsDeleteAccountFormDelete" }}</button>
    </form>
  </details>
</article>
{{ end }}
