{{ define "content" }}
  <article class="container-fluid">
    <hgroup>
      <h2>{{ .InstanceName }} Version Information</h2>
    </hgroup>
    <table>
      <tr><td>Software</td><td>{{ .SoftwareVersion.Software }}</td></tr>
      <tr><td>FullVersion</td><td>{{ .SoftwareVersion.FullVersion }}</td></tr>
      <tr><td>Version</td><td>{{ .SoftwareVersion.Version }}</td></tr>
      <tr><td>Commit</td><td>{{ .SoftwareVersion.Commit }}</td></tr>
      <tr><td>Author</td><td>{{ .SoftwareVersion.Author }}</td></tr>
      <tr><td>License</td><td>{{ .SoftwareVersion.License }}</td></tr>
      <tr><td>Copyright</td><td>{{ .SoftwareVersion.Copyright }}</td></tr>
    </table>
  </article>
{{ end }}
