body, html {
    overflow-x: hidden;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

a {
  text-decoration: none !important;
}

article p img {
  display: block;
  margin-top: 0.5rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

article hgroup h3 {
    margin-left: 0px;
}

article hgroup footer {
    margin-left: 60px;
}

article nav li {
  padding: 0rem 0.5rem;
}

article:target {
    border: 1px solid var(--input-border);
}

.logo {
  height: 56px;
}

.avatar, .avatar-full {
  width: 3.5rem !important;
  height: 3.5rem !important;
  object-fit: cover;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
}

.avatar-full {
  max-width: none !important;
}

.invisible {
    visibility:hidden;
    width:0;
    height:0;
}
.invisible.width-none{
  width: 0px !important;
}

.mobile-menu a {
  display: inline-block;
  margin: -1rem -1rem 0 1rem;
}

.yarn-count-badge {
  background-color: var(--primary);
  color: white;
  border-radius: 100px;
  padding: 0px 4px;
  font-size: 9px;
  position: absolute;
}

.vert-center input {
  margin-top: 0.3rem;
  margin-bottom: -0.3rem !important;
}

.nav {
    z-index: 1050;
}

nav.pagination-nav a {
    display: block;
    margin: -1rem -0.5rem -1rem 0rem;
    padding: 1rem 0rem;
    border-radius: .25rem;

}

nav.toolbar-nav ul{
  margin-left: 0px;
  margin-right: 0px;
}

.toolbar-form-button {
  width: 40px;
  padding-bottom: 20px;
}

.toolbar-form-button-media {
  width: 40px;
  padding-bottom: 2px;
}

.toolbar-form-button label {
	cursor: pointer
}

.submit-bar {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.75rem;
  margin: -0.75rem 0 -0.25em 0;
}

.submit-bar > div {
  flex-grow: 1;
  flex-basis: 15rem;
}

.profile-name {
  margin-bottom: 1rem;
}

.profile-stats {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.profile-stats > div {
  width: 6rem;
  margin-left: 2rem;
  text-align: center;
  line-height: 1.75rem;
}

.profile-tagline {
  color: #fff;
}

.profile-popular {
  font-weight: bold;
}

.profile-nofollow {
  font-style: normal;
  margin-bottom: 1rem;
  font-size: 85%;
}

.profile-links {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem 1rem 1rem;
  word-spacing: 100rem;
  text-align: center;
}

.profile-links > a {
  flex: 1;
}

.profile-report {
  margin-bottom: 1rem;
}

.profile-recent {
  margin-bottom: -2rem !important;
}

.profile-recent h2 {
  font-size: 1.25rem !important;
}

.feed-flex {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.75rem;
  margin: -0.25rem 0 -2.75em 0;
}

.feed-flex > div {
  flex-grow: 1;
  flex-basis: 15rem;
}

.feed-gap {
  margin-bottom: 0.5rem;
}

.long-text-wrap {
  color: var(--muted-text);
  font-weight: 100;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.icon-rotate::before {
  cursor: pointer;
  color: lime;
  position: absolute;
  animation: 1.5s linear infinite rotate;
}

.manage-users {
  margin-bottom: 1rem;
}

audio {
  display: block;
  filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
  width: 240px;
  height: 25px;
  margin-top: 0.5rem;
}

/* 480p */
video {
  object-fit: contain;
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  background: #000;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
  margin-top: 0.5rem;
}

#mainNav {
  text-align: center;
}

#imageUploadForm {
    display: inline;
}

#imageUploadForm label {
    display: inline;
}

#uploadImage {
    margin: 0;
    padding: 0;
}

#audioUploadForm {
    display: inline;
}

#audioUploadForm label {
    display: inline;
}

#uploadAudio {
    margin: 0;
    padding: 0;
}

#videoUploadForm {
    display: inline;
}

#videoUploadForm label {
    display: inline;
}

#uploadVideo {
    margin: 0;
    padding: 0;
}

#uploadImageButton, #uploadAudioButton, #uploadVideoButton{
  cursor: pointer;
  color: var(--primary);
}

#uploadImageButton:hover, #uploadAudioButton:hover, #uploadVideoButton:hover {
  color: #ececec;
}

.textarea-container {
  position: relative;
}

#text {
  resize: vertical;
}

.users-list {
  border-radius: 10px;
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 1040;
  background-color: var(--background);
  box-shadow: 0 0 2px var(--text);
}

.users-list.show {
  display: block;
}

.user-list__user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 350px;
  transition: all ease-in-out .2s;
}

.user-list__user:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.user-list__user:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.user-list__user.selected {
  cursor: pointer;
  background-color: var(--input-border);
}

.mentioned-list-content {
  max-height: 180px;
  overflow: auto;
  cursor: pointer;
  width: 100%;
  width: calc(100% + 2px);
}

.user-list__user .avatar {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  margin-right: 15px;
  border-radius: 50%;
  background-size: cover;
  pointer-events: none;
}

.user-list__user .info {
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.user-list__user .info .name {
  color: var(--text);
  margin-bottom: 5px;
  font-size: 14px;
  pointer-events: none;
}

.user-list__user .info .nickname {
  color: var(--text);
  font-size: 14px;
  pointer-events: none;
}

.user-list__user .nickname {
  font-size: 16px;
  font-weight: bold;
  color: var(--text);
  pointer-events: none;
}

.mentioned-list-content::-webkit-scrollbar  {
  width: 2px;
}

.mentioned-list-content::-webkit-scrollbar-thumb {
  color: #ccc;
}

.captchaInput {
  width: 50% !important;
}

/* Timeline styline */
.u-author {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.p-name {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary);
  margin-top: -0.25rem;
  margin-bottom: -0.25rem;
}

.p-name-profile {
  font-size: 1.5rem;
}

.p-org {
  display: flex;
  flex-direction: row;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--muted-text);
}

.p-org-profile {
  font-size: 1.15rem
}

.p-name:hover {
  color: #ececec;
}

.author {
  margin-left: 15px !important;
}

.publish-time {
  display: flex;
  flex-direction: row;
  font-size: 0.7rem;
}

[data-tooltip]:not(a):not(button):not(input){
  border-bottom: none;
}

#cookie-law{
  background-color: rgb(50, 50, 50) !important;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
#cookie-law p{
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  background-color: rgb(50, 50, 50)  !important;
  margin-bottom: 0px;
}
#cookie-law p a[role=button]{
  margin: 10px 0px 0px 10px;
  padding: 5px 15px;
  font-size: 13px;
  color: #dcdcdc !important;
  border-color: 1px solid var(--primary) !important;
  border-radius: 0.25rem !important;
}

article .p-summary {
   overflow-wrap: break-word;
   word-wrap: break-word;
   word-break: break-word;
   -ms-hyphens: auto;
   -moz-hyphens: auto;
   -webkit-hyphens: auto;
   hyphens: auto;
}

article .p-summary p {
   margin: 0.75rem 0;
}

/* Video Summary Content Styling */
article .p-summary p video,
article .p-summary p img{
  width: auto;
  height: auto;
}

/* Blockquotes */
article .p-summary blockquote {
  border-left: 5px solid var(--primary) !important;
  margin: 1.5em 10px;
  padding: 0px 10px 0px 25px;
  position: relative;
}

/* Twt Hash */
.h-entry {
  padding-bottom: 0.3rem !important;
}

article .p-summary a em, em.twt-hash {
  color: darkgray;
  font-style: normal;
  font-weight: 100;
  color: var(--muted-text);
}

em.twt-hash {
  float: right;
  font-size: small;
  padding-top: 0.25rem;
}

article .twt-bookmark {
  font-size: 1.1rem;
  padding-left: 0.5rem;
  float: right;
}

/* Twt Context */
article .p-summary a small, small.twt-context {
  color: darkgray;
  font-style: normal;
  font-weight: 100;
  color: var(--muted-text);
}

small.twt-context {
  display: block;
  font-size: small;
  padding-top: 0.25rem;
  padding: 0.25rem 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px dashed var(--muted-border);
}

article .p-summary p {
  margin: 0.75rem 0;
}

.settingsBtn, .logoutBtn {
  color: var(--secondary);
}

.settingsBtn:hover, .logoutBtn:hover {
  color: var(--secondary-hover);
}

/* Footer Style */
footer {
  border-top: 1px solid var(--primary);
  font-size: 85%;
}

@media (min-width: 576px) {
  footer {
    font-size: 75%;
  }
  .icon-rotate::before {
    margin: 0 0 0 0;
  }
}
@media (min-width: 768px) {
  footer {
    font-size: 80%;
  }
  .icon-rotate::before {
    margin: -0.05rem 0 0 0.625rem;
  }
}
@media (min-width: 1200px) {
  footer {
    font-size: 75%;
  }
}

body > footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
footer .footer-menu{
  display: flex;
  flex-direction: row;
}
footer .footer-menu a{
  margin-right: 10px;
  padding-right: 10px;
  position: relative;
}
footer .footer-menu a::after{
  content: '';
  height: 12px;
  width: 1px;
  background-color: #929292;
  position: absolute;
  right: 0px;
  bottom: 4px;
}
footer .footer-menu a:last-child{
  border: none;
  padding-right: 0px;
  margin-right: 0px;
}
footer .footer-menu a:last-child::after{
  content: none;
}
/* Toolbar styling */
@media (max-width: 576px) {
  main.container {
    padding: 0;
  }
  footer.container {
    padding: 1rem;
  }
  .toolbar-nav li {
    padding: 1rem .2rem;
  }
  nav{
    justify-content: unset;
    -webkit-justify-content: unset;
    -moz-justify-content: unset;
    -ms-justify-content: unset;
  }
  nav.toolbar-nav ul{
    margin-right: 0px;
    margin-left: 0px;
    display: flex;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    width: 100%;
  }
  nav.toolbar-nav ul li{
    padding: 0.5rem 0px;
    flex: 1;
    -webkit-flex: 0 1 100%;
    -moz-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    text-align: center;
  }
  #mainNav {
    text-align: left !important;;
  }
  [data-tooltip]:not(a):not(button):not(input){
    border-bottom: none;
  }
  #cookie-law p a[role=button]{
    display: block;
    width: 20%;
    margin: 10px auto 0px;
    padding: 5px;
  }
  #uploadImageButton, #uploadAudioButton, #uploadVideoButton {
    cursor: pointer;
    display: block;
    margin-top: 15px;
  }
  nav.pagination-nav{
    justify-content: space-between;
  }
  .ti-menu-2 {
    font-size: 2rem;
  }
  .timelineBtn {
    margin-top: 4rem;
  }
  .timelineBtn, .discoverBtn, .mentionsBtn, .feedsBtn, .settingsBtn, .logoutBtn, .loginBtn, .registerBtn {
    padding-bottom: 1rem;
    font-size: 1rem !important;
  }
  .ti-message-circle, .ti-compass, .ti-bell-ringing, .ti-rss-nav, .ti-settings-nav, .ti-door-exit, .ti-door-enter, .ti-user-plus {
    margin-left: 2rem;
    vertical-align: top;
    font-size: 1.3rem !important;
  }
  .editBtn, .deleteBtn, .replyBtn, .forkBtn, .convBtn {
    font-size: 0;
  }
  .ti-edit, .ti-trash, .ti-message, .ti-messages, .ti-message-plus {
    padding-right: 1.1rem;
    font-size: 1.5rem;
  }
  .yarn-count-badge {
    font-size: 10px;
    margin-left: -25px;
  }
  .mobile-menu {
    padding-top: 15px;
    padding-right: 25px;
  }
  .icon-rotate::before {
    margin: 0.05rem 0 0 0 !important;;
  }
}
@media (max-width: 768px) {
  .timelineBtn, .discoverBtn, .mentionsBtn, .feedsBtn, .settingsBtn, .logoutBtn, .loginBtn, .registerBtn {
    font-size: 0;
  }
  .ti-message-circle, .ti-compass, .ti-bell-ringing, .ti-rss-nav, .ti-settings-nav, .ti-door-exit, .ti-door-enter, .ti-user-plus {
    padding-right: 1.1rem;
    font-size: 1.3rem;
  }
  .profile-links > a {
    font-size: 0;
    text-decoration: none;
    text-align: center;
    margin: 0 1rem 1rem 1rem;
  }
  .ti-circle-plus, .ti-circle-minus, .ti-settings, .ti-link-profile, .ti-rss-profile, .ti-bookmarks {
    font-size: 1.3rem;
  }
  .icon-rotate::before {
    margin: -0.05rem 0 0 0.625rem;
  }
}
@media (max-width: 1200px) {
  /* Footer Style */
  body > footer{
    text-align: center;
    flex-direction: column-reverse;
  }
  footer .footer-copyright{
    margin-top: 10px;
  }
  footer .footer-menu{
    justify-content: center;
  }
}
@keyframes rotate {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
