body, html {
  overflow-x: hidden;
  max-width: 850px;
  margin: 0 auto;
}

:root {
  --font-size: 16px !important;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

a {
  text-decoration: none !important;
  padding: 0.1rem !important;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
}

main.container {
  padding-top: 3rem;
}

article p img {
  display: block;
  margin-top: 0.5rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

article hgroup h3 {
    margin-left: 0px;
}

article hgroup footer {
    margin-left: 60px;
}

article nav li {
  padding: 0rem 0.5rem;
}

article:target {
  border: 1px solid var(--form-element-border-color);
}

article.grid {
  padding-bottom: 0;
}

.logo {
  height: 56px;
}

.avatar, .avatar-full {
  width: 3.5rem !important;
  height: 3.5rem !important;
  object-fit: cover;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
}

.avatar-full {
  max-width: none !important;
}

.ismuted {
  filter: grayscale(1) blur(0.1rem) brightness(0.3);
}

.ti-ismuted {
  position: absolute;
  color: red;
  font-size: 3rem;
  margin-top: 0.2rem;
  margin-left: 0.25rem;
  z-index: 200;
}

.invisible {
  visibility: hidden;
  width: 0;
  height: 0;
}
.invisible.width-none{
  width: 0px !important;
}

.mobile-menu a {
  display: inline-block;
  margin: -1rem -1rem 0 1rem;
}

.yarn-count-badge {
  background-color: var(--primary);
  color: white;
  border-radius: 100px;
  padding: 0px 4px;
  font-size: 9px;
  position: absolute;
}

.vert-center input {
  margin-top: 0.3rem;
  margin-bottom: -0.3rem !important;
}

.nav {
  z-index: 1050;
}

.twt-nav {
  margin-left: 0.75rem;
  margin-top: -0.65rem;
}

.twt-nav li {
  margin-right: 1rem;
}

nav.pagination-nav {
  margin: -0.5rem 1rem -1rem 1rem;
}

nav.pagination-nav:nth-of-type(2){
  margin: -1rem 1rem -2.5rem 1rem;
}

nav.pagination-nav a {
  margin-top: -0.9rem;
}

.toolbar-form-button, .toolbar-form-button-media {
  width: 0;
}

.toolbar-nav {
  margin: 0 0 -3.75rem 0.25rem;
}

.toolbar-form-button {
  width: 1rem;
  margin-right: 1.2rem;
  margin-top: -2.95rem;
}

.toolbar-form-button-media {
  margin: 0 1.4rem -1.1rem -0.2rem;
}

.submit-bar {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.75rem;
}

.submit-bar > div {
  flex: 1;
  margin-bottom: -1.75rem;
}

.profile-name {
  margin-bottom: 1rem;
}

.profile-stats {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.profile-stats > div {
  width: 6rem;
  margin-left: 2rem;
  text-align: center;
  line-height: 1.75rem;
}

.profile-last-seen, .profile-muted {
  display: block;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  font-size: 0.95rem;
  color: var(--color);
}

.profile-tagline {
  margin: 1rem 0 1rem 0;
  color: var(--color);
}

.profile-info {
  color: var(--color);
  border-top: 1px solid var(--muted-border-color);
  margin-top: -0.5rem;
}

.profile-popular {
  font-weight: 600;
  margin-left: -0.1rem;
}

.profile-nofollow {
  font-style: normal !important;
  margin-top: 0.1rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

.profile-nofollow:first-letter {
  text-transform: capitalize;
}

.profile-links {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem 1rem 1rem;
  word-spacing: 100rem;
  text-align: center;
}

.profile-links > a {
  flex: 1;
}

.profile-report {
  margin-bottom: 1rem;
}

.profile-recent {
  margin-bottom: -2rem !important;
}

.profile-recent h2 {
  font-size: 1.25rem !important;
}

.feed-flex {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.75rem;
  margin: -0.25rem 0 -2.75em 0;
}

.feed-flex > div {
  flex-grow: 1;
  flex-basis: 15rem;
}

.feed-gap {
  margin-bottom: 0.5rem;
}

.long-text-wrap {
  color: var(--muted-color);
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.icon-rotate {
  display: inline-block;
  animation: 2s linear infinite rotate;
}

.manage-users {
  margin-bottom: 1rem;
}

audio {
  display: block;
  filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
  width: 240px;
  height: 25px;
  margin-top: 0.5rem;
}

/* 480p */
video {
  object-fit: contain;
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
  background: var(--background-color);
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
  margin-top: 0.5rem;
}

#mainNav {
  margin-top: 0.5rem;
  text-align: center;
}

#uploadImageButton, #uploadAudioButton, #uploadVideoButton{
  cursor: pointer;
  color: var(--primary);
}

#uploadImageButton:hover, #uploadAudioButton:hover, #uploadVideoButton:hover{
  color: var(--primary-hover);
}

#uploadImageButton:focus, #uploadAudioButton:focus, #uploadVideoButton:focus{
  background-color: var(--primary-focus);
}

.textarea-container {
  position: relative;
}

#text {
  resize: vertical;
}

.users-list {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: var(--background-color);
  border-left: 0.1rem solid var(--form-element-border-color);
  border-bottom: 0.1rem solid var(--form-element-border-color);
  border-right: 0.1rem solid var(--form-element-border-color);
}

.users-list.show {
  display: block;
}

.user-list__user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 4rem;
  padding: 1rem 1rem;
  box-sizing: border-box;
  max-width: 350px;
  transition: all ease-in-out .25s;
}

.user-list__user.selected {
  cursor: pointer;
  background-color: var(--form-element-border-color);
}

.mentioned-list-content {
  max-height: 12rem;
  overflow: auto;
  cursor: pointer;
}

.user-list__user .avatar {
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--muted-border-color);
  margin-right: 1rem;
  background-size: cover;
  pointer-events: none;
}

.user-list__user .info {
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.user-list__user .nickname,
.user-list__user .info .name,
.user-list__user .info .nickname {
  color: var(--text);
  margin-bottom: 5px;
  font-size: 0.9rem;
  font-weight: 600;
  pointer-events: none;
}

.mentioned-list-content::-webkit-scrollbar  {
  width: 2px;
}

.mentioned-list-content::-webkit-scrollbar-thumb {
  color: var(--contrast);
}

.captchaInput {
  width: 50% !important;
}

/* Timeline styline */
.u-author {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.p-name a {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin-top: -0.3rem;
  color: var(--primary);
}

.p-name-profile {
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: -0.3rem;
  color: var(--primary);
}

.p-name-profile::after {
  content: '\A';
  white-space: pre;
}

.p-org a, p-org-profile {
  display: block;
  margin-top: -0.4rem;
  font-size: 0.95rem;
  font-weight: 300;
  color: var(--muted-color) !important;
}

.p-org-profile {
  font-size: 1.15rem;
  font-weight: 300;
}

.author {
  margin-left: 0.5rem !important;
}

.publish-time {
  margin-top: -0.15rem;
  font-size: 0.7rem;
  font-weight: 300;
  color: var(--primary);
}

.publish-time span {
  color: var(--contrast);
}

[data-tooltip]:not(a):not(button):not(input){
  border-bottom: none;
}

.feed-gap .p-summary {
  margin-top: -0.5rem;
  padding-bottom: 1.25rem;
  padding-left: 0.25rem;
}

#cookie-law{
  background-color: rgb(50, 50, 50) !important;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
#cookie-law p{
  color: var(--color);
  font-size: 13px;
  text-align: center;
  background-color: rgb(50, 50, 50)  !important;
  margin-bottom: 0px;
}
#cookie-law p a[role=button]{
  margin: 10px 0px 0px 10px;
  padding: 5px 15px;
  font-size: 13px;
  color: var(--muted-color) !important;
  border-color: 1px solid var(--primary) !important;
  border-radius: 0.25rem !important;
}

article {
  margin-top: 1rem !important;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}

article.no-tb {
  margin-top: -0.1rem !important;
  border-radius: 0;
  box-shadow: none;
}

article.no-tb:nth-of-type(3) {
  margin-bottom: -0.75rem;
  border-radius: 0 0 0.25rem 0.25rem;
  padding-bottom: 0.5rem;
}

article .p-summary {
  padding-top: 0.6rem;
  margin-bottom: -0.9rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* Video Summary Content Styling */
article .p-summary p video,
article .p-summary p img{
  width: 100%;
  padding-bottom: 0.5rem;
}

/* Blockquotes */
article .p-summary blockquote {
  border-left: 5px solid var(--primary) !important;
  margin: 1.5em 10px;
  padding: 0px 10px 0px 25px;
  position: relative;
}

/* Twt Hash */
.h-entry {
  margin: 1rem 0;
  padding: 0.75rem 0.75rem 0.5rem 0.75rem;
}

article .p-summary a em, em.twt-hash {
  color: darkgray;
  font-style: normal;
  font-weight: 300;
  color: var(--muted-color);
}

em.twt-hash {
  float: right;
  font-size: small;
  padding-top: 0.1rem;
}

article .twt-bookmark {
  font-size: 1.1rem;
  padding-left: 0.5rem;
  margin-top: -0.2rem;
  float: right;
}

/* Twt Context */
article .p-summary a small, small.twt-context {
  font-style: normal;
  font-weight: 300;
  font-size: 0.825rem !important;;
  color: var(--muted-color);
}

small.twt-context {
  display: block;
  font-size: small;
  margin-top: -0.3rem;
  padding-bottom: 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: dashed 1px var(--form-element-border-color);
}

small.twt-context strong {
  font-weight: 300;
}

.p-summary p:nth-of-type(1) {
  padding-top: 0.25rem;
}

.settingsBtn, .logoutBtn {
  color: var(--secondary);
}

.settingsBtn:hover, .logoutBtn:hover {
  color: var(--secondary-hover);
}

#podLogo, #podMenu {
  display: flex;
  flex: 0;
  margin-bottom: -1.75rem;
}

#podMenu {
  margin-right: 2rem;
}

#podMenu li {
  margin-left: 1rem;
}

#podLogo {
  margin-left: 1rem;
}

ul#podMobile {
  display: none;
}

a[role=button] {
  display: flex;
  justify-content: center;
  padding-top: 0.8rem !important;
  padding-bottom: 0.8rem !important;
}

#convJoinSummary {
  display: block;
}

/* Footer Style */
body > footer{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-content: center;
}
footer {
  border-top: 1px solid var(--primary);
  font-size: 0.8rem;
}
footer .footer-menu a{
  margin-left: 0.5rem;
}
footer.container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (max-width: 576px) {
  main.container {
    margin-top: -3rem;
  }
  .container-fluid, #followFeed {
    margin-top: -0.75rem !important;
    padding-bottom: 0;
  }
  body > footer{
    margin-top: -2.25rem !important;
    line-height: 1.5rem;
    display: block;
    text-align: center;
  }
  #mainNav {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1rem;
  }
  ul#podLogo {
    flex: 1;
    align-items: flex-start;
    margin: -0.4rem 0 0 1.15rem;
  }
  ul#podMobile {
    flex: 0;
    display: inherit;
    font-size: 2rem;
    padding: 0.75rem 0.75rem 1.75rem;
  }
  ul#podMenu {
    flex: 1 100%;
    display: none;
    margin: 1rem 0 0 1rem;
  }
  ul#podMenu li {
    vertical-align: top;
    text-align: left;
    margin: 0 0 0.5rem 1.25rem;
  }
  .toolbar-nav {
    margin: -1.6rem 0 -3.75rem 0.5rem;
  }
  .submit-bar > div {
    flex: 1;
    flex-basis: 17.126rem;
    margin-bottom: 0rem;
  }
  .submit-bar > div button {
    margin-bottom: 1rem;
  }
  [data-tooltip]:not(a):not(button):not(input){
    border-bottom: none;
  }
  #convJoinSummary {
    display: block;
    margin: -1rem 0 1.75rem 0 !important;
  }
  #cookie-law p a[role=button]{
    display: block;
    width: 20%;
    margin: 10px auto 0px;
    padding: 5px;
  }
  .bump-up {
    margin-top: -1rem;
  }
  .twt-nav {
    margin-left: 0.25rem;
  }
  .profile-name {
    margin-top: -2rem;
  }
  .profile-last-seen {
    padding-bottom: 0.15rem;
  }
  .ti-message-circle, .ti-compass, .ti-bell-ringing, .ti-rss-nav, .ti-settings-nav, .ti-door-exit, .ti-door-enter, .ti-user-plus {
    vertical-align: top;
    font-size: 1.3rem !important;
  }
  .editBtn, .deleteBtn, .replyBtn, .forkBtn, .convBtn {
    font-size: 0;
  }
  .ti-edit, .ti-trash, .ti-message, .ti-messages, .ti-message-plus {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.25rem;
  }
  .profile-links a {
    font-size: 0.0009rem;
    color: var(--background-color);
  }
  .profile-post {
    padding-top: 1rem;
  }
  .ti-circle-plus, .ti-circle-minus, .ti-settings, .ti-link-profile, .ti-rss-profile, .ti-bookmarks {
    font-size: 1.3rem;
    color: var(--primary) !important;
  }
  .yarn-count-badge {
    font-size: 10px;
    margin-left: -1rem;
  }
  .mobile-menu {
    font-size: 2rem;
    padding-top: 0.5rem;
    padding-right: 2rem;
  }
  .podLogo {
    position: absolute !important;
    margin-top: 0.5rem;
  }
  div.grid {
    margin-top: -1rem;
  }
  div.h-feed-empty:empty {
    margin-top: 2.25rem;
  }
  nav.pagination-nav:nth-of-type(2){
    margin: -1rem 1rem 0.25rem 1rem;
  }
  nav.pagination-nav{
    margin: -0.5rem 1rem -1rem 1rem;
  }
  div .h-feed:last-child, div .h-entry:last-child {
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  #mainNav {
    padding-top: 0.5rem;
    margin: 0 auto;
    max-width: 620px !important;
  }
  body > footer{
    margin-top: -0.5rem !important;
    line-height: 1.5rem;
    display: block;
    text-align: center;
  }
  #podLogo {
    margin-top: 0.05rem;
    margin-left: 1.1rem;
  }
  ul#podMenu {
    display: inherit !important;
  }
  nav.pagination-nav{
    margin: -1.25rem 1rem -1rem 1rem;
  }
  nav.pagination-nav:nth-of-type(2){
    margin: -1rem 1rem -2rem 1rem !important;
  }
  .timelineBtn, .discoverBtn, .mentionsBtn, .feedsBtn, .settingsBtn, .logoutBtn, .loginBtn, .registerBtn {
    display: flex;
    font-size: 0;
  }
  .ti-message-circle, .ti-compass, .ti-bell-ringing, .ti-rss-nav, .ti-settings-nav, .ti-door-exit, .ti-door-enter, .ti-user-plus {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.3rem;
  }
  .profile-links a {
    font-size: 0.0009rem;
    color: var(--background-color);
  }
  .ti-circle-plus, .ti-circle-minus, .ti-settings, .ti-link-profile, .ti-rss-profile, .ti-bookmarks {
    font-size: 1.3rem;
    color: var(--primary) !important;
  }
  .submit-bar > div {
    flex: 1;
    flex-basis: 15.5rem;
    margin-bottom: 0rem;
  }
  .submit-bar > div button {
    margin-bottom: -0.25rem;
  }
  #convJoinSummary {
    margin: 0 0 -1rem 0 !important;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  #mainNav {
    padding-top: 0.5rem;
    margin: 0 auto;
    max-width: 820px !important;
  }
  ul#podMenu {
    display: inherit !important;
  }
  footer .footer-menu a{
    margin-left: 0.25rem;
  }
  nav.pagination-nav:nth-of-type(2){
    margin: -1rem 1rem -1.5rem 1rem;
  }
  #convJoinSummary {
    margin: 0.25rem 0 -0.25rem 0 !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #mainNav {
    padding-top: 0.5rem;
    margin: 0 auto;
    max-width:990px !important;
  }
  ul#podMenu {
    display: inherit !important;
  }
  article.bump-up > div:nth-of-type(2) {
    border-left: 1px solid var(--range-border-color);
    margin-top: 2.6rem !important;
    margin-bottom: 3rem;
  }
  article.bump-up > div:nth-of-type(2) p,
  article.bump-up > div:nth-of-type(2) hgroup {
    padding-left: 1rem;
  }
  article.bump-up > div:nth-of-type(2) ul {
    padding-left: 2rem;
  }
  nav.pagination-nav:nth-of-type(2){
    margin: -1rem 1rem -2rem 1rem;
  }
  #podLogo {
    margin-top: -0.05rem;
    margin-left: 0.95rem;
  }
  #convJoinSummary {
    margin: 0.5rem 0 -0.5rem 0 !important;
  }
}

@media (min-width: 1200px) {
  #mainNav {
    padding-top: 0.5rem;
    margin: 0 auto;
    max-width: 1180px !important;
  }
  ul#podMenu {
    display: inherit !important;
  }
  article.bump-up > div:nth-of-type(2) {
    border-left: 1px solid var(--range-border-color);
    margin-top: 2.6rem !important;
    margin-bottom: 3rem;
  }
  article.bump-up > div:nth-of-type(2) p,
  article.bump-up > div:nth-of-type(2) hgroup {
    padding-left: 1rem;
  }
  article.bump-up > div:nth-of-type(2) ul {
    padding-left: 2rem;
  }
  nav.pagination-nav:nth-of-type(2){
    margin: -1rem 1rem -2.5rem 1rem;
  }
  #podLogo {
    margin-top: -0.05rem;
    margin-left: 0.9rem;
  }
  #convJoinSummary {
    margin: 0.25rem 0 -1.25rem 0 !important;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}